@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

.menu-navbar {
  background-color: rgb(48, 48, 163);
  font-family: Merriweather, serif;
  box-shadow: 1px 1px 3px;
}

.nav-link {
  color:  whitesmoke;
}

.btn-order {
  color:  whitesmoke;
  border-color: whitesmoke;
  transition: 0.5s;
}

 .btn-order:hover,
 .btn-order:active {
  color: grey;
  background-color: whitesmoke;
 }

