@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Redressed&display=swap');

.redressed {
  font-family: Redressed, cursive;
}

.merriweather {
  font-family: Merriweather,serif;
}

.menu-navbar {
  background-color: #2F2FA3;
  font-family: Merriweather, serif;
  box-shadow: 1px 1px 3px #ff9100;
}

.menu-navbar .nav-link {
  color:  whitesmoke;
}

.menu-navbar .nav-link:hover{
  color: #ff9100;
}

.banner {
  background-image:linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.3)),
  url("/img/image-benefices-football-enfants-stage.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 800px;
} 

.col h1 {
  font-size: 45px;
  font-weight: 700;
  color: whitesmoke;
}

.col p {
  font-size: 28px;
  font-weight: 400;
  color:whitesmoke;
}


.btn-order {
  color:  whitesmoke;
  border-color: whitesmoke;
  transition: 0.5s;
}

 .btn-order:hover,
 .btn-order:active {
  color: #ff9100;
  background-color: whitesmoke;
 }

 .titre-actions {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  color: #2F2FA3;
 }

 .titre-actions span {
  color: #ff9100;
 }

 .nombres {
  font-size: 48px;
  padding-bottom: 8px;
  text-decoration: underline solid #ff9100;
  font-weight: 400;
  color: #2F2FA3;
 }

 .texte {
  padding-top: 8px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
 }

 .footer {
  background-color: #101057;
 }

 .footer-title h4 {
  font-size: 25px;
  margin-bottom: 15px;
  color: whitesmoke;
 }

 .footer-col a {
  padding: 5px 0;
  text-decoration: none;
  color: whitesmoke;
 }

 .footer-col a:hover {
  color: #ff9100;
 }

 .footer-col a.social {
  font-size: 20px;
 }

 .footer-title li {
  list-style-type: none;
 }

 .footer-bottom hr {
  font-weight: 700;
  border: 2px solid #ff9100;
 }

 .footer-bottom p {
  text-align: center;
  color: whitesmoke;
  margin-top: 15px;
  margin-bottom: 0;
 }

 /* css de la page evenements */

